body {
  background-color: #f3f4f5;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/* navbar */
.navbar-brand {
  font-family: "palatino";
  font-weight: bold;
}
#navbrand a:hover {
  color: rgb(138, 247, 247);
}
#navbarNav {
  font-family: "palatino";
  font-weight: bold;
}
#navbarNav li {
  padding-right: 18px;
  font-size: 18px;
  display: cover;
}
#navbarNav li a:hover {
  color: rgb(138, 247, 247);
}
/* akhir navbar */

/* jumbotron */
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-content {
  position: relative;
  font-family: "palatino";
  color: white;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.hero-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}
/* akhir jumbotron */

/* about */
.about {
  text-align: center;
  font-family: "palatino";
  margin-top: 6vw;
  margin-bottom: 6vw;
  color: #231f20;
}
.btnabout .btn {
  font-family: "arial";
  font-size: 15px;
  border-radius: 25px;
  width: auto !important;
}
.btnabout .btn:hover {
  background-color: rgb(138, 247, 247);
  color: #0f1022;
}
/* akhir about */

/* mycarousel */
.mycarousel {
  padding-top: 50px;
}
.carousel-caption {
  text-align: left;
  color: #ffffff;
  bottom: 8vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.carousel-caption h5 {
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
}
.carousel-caption p {
  text-align: center;
  font-style: italic;
  font-size: 3vw;
}
.carousel-inner a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
/* akhir mycarousel */

/* mystory */
.mystory {
  text-align: center;
  color: #231f20;
  margin-top: 5vw;
  margin-bottom: 8vw;
  font-family: "palatino";
  padding-top: 30px;
}
#mystory .card-body .btn:hover {
  color: aqua !important;
}

/* akhir mystory */

/* contactme */
#contactme {
  margin-bottom: 50px;
}
.contactme {
  text-align: center;
  color: #231f20;
  padding-top: 6vw;
  margin-bottom: 6vw;
  font-family: "palatino";
  text-align: center;
}
/* akhir contactme */

/* video */
video {
  display: inline-block;
}
.video {
  border-radius: 20 solid red;
}
/* akhir video */

/* footer */
.footerbtm {
  background-color: #0f1022;
  width: 100vw;
  padding: 9px 0;
  text-align: center;
}
.sosmed .bi:hover {
  color: aqua;
}
.sosmed .bi {
  color: gray;
}
.sosmed p a {
  text-decoration: none;
}
.sosmedl a:hover {
  color: aqua;
}
.sosmedl p a {
  text-decoration: none;
  color: gray;
}
.footerbtm a {
  text-decoration: none;
  color: gray;
}
.footerbtm a:hover {
  color: aqua;
}
/* akhir footer */
