body {
  background-color: #f3f4f5;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar-brand {
  font-family: "palatino";
  font-weight: bold;
}
#navbrand a:hover {
  color: aqua;
}
#navbarNav {
  font-family: "palatino";
  font-weight: bold;
}
#navbarNav li {
  padding-right: 18px;
  font-size: 18px;
  display: cover;
}
#navbarNav li a:hover {
  color: aqua;
}

#jumbotron .carousel-caption {
  text-align: left;
}
.about {
  text-align: center;
  font-family: "palatino";
  margin-top: 8vw;
  margin-bottom: 5vw;
  color: #231f20;
}
.btnabout .btn {
  background-color: #2a476d;
  color: white;
  font-family: "arial";
  font-size: 15px;
  border-radius: 25px;
  width: auto !important;
}
.btnabout .btn:hover {
  color: aqua;
}
.mycarousel {
  padding-top: 50px;
}
.carousel-caption {
  text-align: left;
  color: #ffffff;
  bottom: 8vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.carousel-caption h5 {
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
}

.carousel-caption p {
  text-align: center;
  font-style: italic;
  font-size: 3vw;
}
.carousel-inner a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.mystory {
  text-align: center;
  color: #231f20;
  margin-top: 5vw;
  margin-bottom: 8vw;
  font-family: "palatino";
  padding-top: 30px;
}
.card-body .btn:hover {
  color: aqua;
}
button :hover {
  color: aqua;
}
#contactme {
  margin-bottom: 50px;
}
.contactme {
  text-align: center;
  color: #231f20;
  padding-top: 30px;
  margin-bottom: 20px;
  font-family: "palatino";
}
.video {
  display: inline-block;
  padding-top: 30px;
}
#contactform button:hover {
  color: aqua;
}
.footerbtm {
  background-color: #0f1022;
  width: 100vw;
  padding: 9px 0;
  text-align: center;
}
.sosmed .bi:hover {
  color: aqua;
}
.sosmed .bi {
  color: gray;
}
.sosmed p a {
  text-decoration: none;
}
.sosmedl a:hover {
  color: aqua;
}
.sosmedl p a {
  text-decoration: none;
  color: gray;
}
.footerbtm a {
  text-decoration: none;
  color: gray;
}
.footerbtm a:hover {
  color: aqua;
}
