body {
  background-color: #f3f4f5;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar-brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.mycarousel {
  padding-top: 56px;
}
.carousel-caption {
  text-align: center;
  color: #ffffff;
  bottom: 8vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.carousel-caption h5 {
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
}

.carousel-caption p {
  text-align: center;
  font-style: italic;
  font-size: 3vw;
}
.about {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -18vw;
  margin-bottom: 8vw;
  color: #25274d;
}
.mystory {
  text-align: center;
  color: #25274d;
  margin-top: -10vw;
  margin-bottom: 8vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.carousel-inner a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.allstories {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 50px;
  margin-bottom: -1px;
}
#mystory {
  background-color: #cfd1ff;
}
button :hover {
  color: aqua;
}
.contactme {
  text-align: center;
  font-weight: bold;
  color: #25274d;
  padding-top: 30px;
  margin-bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.galery {
  text-align: center;
  font-weight: bold;
  color: #25274d;
  padding-top: 30px;
  margin-bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.galery-img {
  width: 100%;
}
#galery .row > * {
  padding: 0;
}
footer {
  background-color: #25274d;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-left: auto;
  color: #ffffff;
}
.footercontent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.footercontent h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footercontent p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  flex-basis: 100%;
  margin-left: -50px;
}
.socials li {
  display: flex;
  flex-basis: auto;
  margin: 25px;
}
.socials a {
  text-decoration: none;
  color: #ffffff;
}
.socials a i {
  font-size: 1.1 rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}
.footerbtm {
  background-color: #0f1022;
  width: 100vw;
  padding: 9px 0;
  text-align: center;
}
.footerbtm p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.backbtn {
  font-size: 40px;
  display: flex;
}
.backbtn a {
  color: #f3f4f5;
}
.ContainerP h1 {
  font-size: 3vw;
  text-align: center;
  padding-bottom: 73%;
  margin-top: 18%;
}

.footerbtm p {
  margin-bottom: 0px;
}
.video video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
